.SidebarPadding{
 padding-left: 16px;
 margin: 1.5rem 0;
}

.AppBarContent{
 justify-content: center;
}

.backgroundColorRed{
 background: Red !important;
}

.backgroundColorYellow{
 background: Yellow !important;
}

.backgroundColorBlue{
 background: Purple !important;
}

.backgroundColorGreen{
 background: Green !important;
}
