.Content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 310px;
    width: 280px;
}
.PaperDivImage{
    height: 310px;
    width: 280px;
}

.PaperDivDashedBorder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 310px;
    width: 280px;
    border: 2px dashed #bbbbbb;
}
